/**
 * Стили для футера (нижней части страницы).
 * Используется фоновый цвет, отступы, выравнивание текста и добавление тени.
 *
 * @class .footer
 */
 .footer {
  background-color: hsl(48, 100%, 50%); /* Основной цвет фона */
  padding: 20px; /* Отступы вокруг содержимого */
  text-align: center; /* Выравнивание текста по центру */
  margin-top: 50px; /* Отступ сверху */
  border-top: 2px solid #ccc; /* Верхняя граница для разделения */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для футера */
}

/**
 * Стили для текста в футере.
 * Отступ снизу.
 *
 * @class .text
 */
.text {
  margin: 0 0 5px 0; /* Отступ снизу */
}

/**
 * Стили для ссылки в футере.
 * Добавляется стилизация для ссылок с плавным переходом.
 *
 * @class .footer-link
 */
.footer-link {
  text-decoration: none; /* Убирает подчеркивание с ссылки */
  color: #0077cc; /* Цвет ссылки */
  font-weight: bold; /* Жирный шрифт для ссылки */
  transition: color 0.3s; /* Плавное изменение цвета */
}

/**
 * Стили для состояния наведения на ссылку в футере.
 * Меняется цвет на более темный оттенок синего при наведении.
 *
 * @class .footer-link:hover
 */
.footer-link:hover {
  color: #005fa3; /* Темный синий при наведении */
}
