/**
 * Стили для текстового поля ввода поиска.
 * Поле имеет округленные углы, плавное изменение фона и цвета границы.
 *
 * @class .search-input
 */
 .search-input {
  padding: 12px 16px; /* Отступы внутри поля */
  font-size: 1rem; /* Размер шрифта */
  width: 250px; /* Ширина поля */
  border: 1px solid #ccc; /* Цвет границы */
  border-radius: 30px; /* Скругленные углы */
  outline: none; /* Убираем обводку при фокусе */
  transition: all 0.3s ease; /* Плавный переход для всех изменений */
  background-color: #fff; /* Фон по умолчанию */
}

/**
 * Стили для поля ввода при фокусе.
 * Цвет границы и фона изменяются, чтобы выделить поле.
 *
 * @class .search-input:focus
 */
.search-input:focus {
  border-color: #ff6600; /* Цвет границы при фокусе */
  background-color: #f3f3f3; /* Цвет фона при фокусе */
}

/**
 * Стили для плейсхолдера в поле поиска.
 * Цвет текста плейсхолдера по умолчанию.
 *
 * @class .search-input::placeholder
 */
.search-input::placeholder {
  color: #aaa; /* Цвет текста плейсхолдера */
}

/**
 * Стили для плейсхолдера в поле поиска при фокусе.
 * Цвет текста плейсхолдера изменяется при фокусе на поле.
 *
 * @class .search-input:focus::placeholder
 */
.search-input:focus::placeholder {
  color: #ff6600; /* Цвет текста плейсхолдера при фокусе */
}
